@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; 
  zoom: 0.90;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
  background-color: #ffffff;
  line-height: 1.5;
  font-weight: 400;
}


.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
